/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}

.title-bar{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.title-bar h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
}
.title-bar p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* banner starts */
.banner{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-color: red;
    background-image: url('../img/banner-background.png');
    position: relative;
}
.banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .navbar-container{
    width: 100%;
    border-bottom: 1px solid #fec600;
}
.nav-item{
    display: block;
    position: relative;
}
.nav-item .nav-link{
    color: #fff;
}
.nav-item:hover .nav-link{
    color: #fec600;
}
.nav-item:hover::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 3px;
    background-color: #fec600;
    bottom: -60%;
}
.banner .banner-content{
    padding: 120px 0;
    width: 100%;
}
.banner .banner-content .banner-slick-slider{
    width: 80%;
    margin: 0 auto;
    /* padding: 50px 0; */
    position: relative;
}
.banner .banner-content .banner-slick-slider .banner-slick-slider-item{
    text-align: center;
    /* color: #fec600; */
    padding: 50px 0;
}

.banner .banner-content .banner-slick-slider .banner-slick-slider-item h1{
    color: #fff;
    font-size: 35px;
}
.banner .banner-content .banner-slick-slider .banner-slick-slider-item h1 span{
    color: #fec600;
    font-size: 55px;
}
.banner .banner-content .banner-slick-slider .banner-slick-slider-item p{
    color: #fff;
    font-size: 14px;
    margin: 20px 0 50px 0;
}
.banner .banner-content .banner-slick-slider .banner-slick-slider-item .banner-btn-holder a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-right: 10px;
}
.banner .banner-content .banner-slick-slider .banner-slick-slider-item .banner-btn-holder a:hover{
    border: 1px solid #fec600;
    color: #fec600;
}
.banner .banner-content .banner-slick-slider .prev-arr,
.banner .banner-content .banner-slick-slider .next-arr{
    color: #fec600;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100000;
}
.banner .banner-content .banner-slick-slider .prev-arr{
    left: 0px;
}
.banner .banner-content .banner-slick-slider .next-arr{
    right: 0px;
}
/* banner ends */

/* about starts */
.about{
    padding: 20px 0;
}
.about-content-holder{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.about-content-holder .about-content-item{
    width: 30%;
    /* background-color: blue; */
    margin: 0 30px 0 30px;
    position: relative;
}

.about-content-holder .about-content-item:nth-child(2)::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* background-color: pink; */
    top: -16px;
    left: -15px;
    height: 110%;
    width: 110%;
    border-radius: 50%;
    border: 3px solid #000;
}
.about-content-holder .about-content-item .about-left,
.about-content-holder .about-content-item .about-right{
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    padding: 10px 20px;
    background-color: #eeeeee;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.about-content-holder .about-content-item .about-left:hover .about-left-content::before{
    background-color: #fec600;
}
.about-content-holder .about-content-item .about-right{
    text-align: left;
}
.about-content-holder .about-content-item .about-right:hover .about-right-content::before{
    background-color: #fec600;
}
.about-content-holder .about-content-item .about-left h4,
.about-content-holder .about-content-item .about-right h4{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.about-content-holder .about-content-item .about-left p,
.about-content-holder .about-content-item .about-right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.about-content-holder .about-content-item .about-left .about-left-content,
.about-content-holder .about-content-item .about-right .about-right-content{
    position: relative;
}
.about-content-holder .about-content-item .about-left .about-left-content::after,
.about-content-holder .about-content-item .about-right .about-right-content::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eeeeee;
    top: 50%;
    right: -30px;
    transform: translateY(-50%) rotate(45deg);
    
}

.about-content-holder .about-content-item .about-left .about-left-content::before,
.about-content-holder .about-content-item .about-right .about-right-content::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #000;
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    
}

.about-content-holder .about-content-item .about-right .about-right-content::after{
    left: -30px;
    
}
.about-content-holder .about-content-item .about-right .about-right-content::before{
    left: -75px;
}

.about-upper,
.about-lower{
    text-align: center;
    background-color: #eeeeee;
    padding: 10px 20px;
}
.about-upper .about-upper-content,
.about-lower .about-lower-content{
    position: relative;
    top: 0;
    left: 0;
}
.about-upper .about-upper-content::after,
.about-lower .about-lower-content::after{
    content: '';
    bottom: -35px;
    left: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #eeeeee;
}
.about-lower .about-lower-content::after{
    top: -20px;
}
.about-upper .about-upper-content::before,
.about-lower .about-lower-content::before{
    content: '';
    bottom: -70px;
    left: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #000;
}
.about-upper:hover .about-upper-content::before,
.about-lower:hover .about-lower-content::before{
    background-color: #fec600;
}
.about-lower .about-lower-content::before{
    top: -55px;
}
/* about ends */

/* portfolio starts */
.portfolio{
    width: 100%;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    background-image: url('../img/portfolio-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    position: relative;
    z-index: 1000;
}
.portfolio::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.portfolio .title-bar h2, .portfolio .title-bar p{
    color: #fff;
}

.portfolio .art-holder-box{
    /* background-color: green; */
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.portfolio .art-holder-box .small-art-holder, 
.portfolio .art-holder-box .big-art-holder{
    width: 24%;
    /* background-color: pink; */
}
.portfolio .art-holder-box .small-art-holder{
    height: 38%;
}
.portfolio .art-holder-box .big-art-holder{
    height: 58%;
}
.portfolio .art-holder-box img{
    height: 100%;
    width: 100%;
}
/* portfolio ends */

/* service starts */
.service{
    width: 100%;
}
.service .service-content{
    width: 100%;
}
.service .service-content .service-content-item{
    width: 100%;
    display: flex;
}
.service .service-content .service-content-item img{
    display: inline-block;
    border-radius: 100%;
    background-color: rgb(208, 208, 208);
    padding: 15px;
}

.service .service-content .prev-arr, 
.service .service-content .next-arr{
    display: inline-block;
    border-radius: 100%;
    border: 5px solid rgb(208, 208, 208);
    padding: 5px;
}

.service .service-content .prev-arr:hover, 
.service .service-content .next-arr:hover{
    border: 5px solid #fec600;
    background-color: #fec600;
}

.service .service-content .slick-current img{
    background-color: #fec600;
    
}

.service .service-content .service-content-item  .service-writtings{
    background-color: rgb(208, 208, 208);
    padding: 20px;
    box-sizing: border-box;
}
/* service ends */

/* talks starts */
.talks{
    width: 100%;
    background-image: url('../img/talks-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    padding: 80px 0;
    position: relative;
}
.talks::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.talks .talks-picture-holder{
    background-color: transparent;
}

.talks  #slide-line {
    display: inline-block;
    position: absolute;
    height: 85%;
    top: 30px;
}

.talks .talks-picture-holder .prev-arr,
.talks .talks-picture-holder .next-arr
{
    border: 3px solid #fff;
    border-radius: 60%;
    padding: 5px 8px;
    color: #fff;
}
.talks .talks-picture-holder .prev-arr:hover,
.talks .talks-picture-holder .next-arr:hover
{
    border: 3px solid #fec600;
    background-color: #fec600;
    color: #000;
}

.talks .talks-picture-holder .talks-picture-item{
    margin: 30px 0;
}
.talks .talks-picture-holder .talks-picture-item img{
    display: inline-block;
}

.talks .talks-writting-holder{
    /* background-color: pink; */
    height: 100%;
    
}

.talks .talks-writting-holder .talks-writting-item{
    height: 100%;
    width: 100%;
}
.talks .talks-writting-holder .talks-writting-item .talk-inner-item{
    width: 80%;
    background-color: #fff;
    padding: 25px;
    margin-left: 30px;
    margin-top: calc(50% - 160px);
    position: relative;
    
}
.talks .talks-writting-holder .talks-writting-item .talk-inner-item .talk-inner-item-box{
    height: 30px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -25px;
    z-index: 1000000;
    rotate: 45deg;
    
}
.talks .talks-writting-holder .talks-writting-item .talk-inner-item p{
    
}
/* talks ends */



/* price starts */
.price{
    background-color: #fff;
    width: 100%;
}

.price .price-container{
    width: 100%;
}

.price .price-container .price-item{
    width: 100%;
    background-color: #353535;
    color: #fff;
    position: relative;
}
.price .price-container .price-item h5{
    padding: 45px 0;
}
.price .price-container .price-item .price-box{
    background-color: #fff;
    height: 100px;
    width: 100px;
    border: 3px solid #353535;
    /* color: #000; */
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}
.price .price-container .price-item .price-box p{
    height: 100%;
    width: 100%;
    line-height: 100px;
    position: relative;
    z-index: 20;
    color: #eeeeee;
}
.price .price-container .price-item .price-box p::before{
    height: 85px;
    width: 85px;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #353535;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.price .price-container .price-item .price-content-box{
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    padding-top: 80px;
    z-index: 1;
}

.price .price-container .price-item:hover{
    background-color: #fec600;
}

.price .price-container .price-item:hover h5{
    color: #353535;
}

.price .price-container .price-item:hover .price-box{
    border: 3px solid #fec600;
}

.price .price-container .price-item:hover .price-box p{
    color: #353535;
}

.price .price-container .price-item:hover .price-box p::before{
    background-color: #fec600;
}

.price .price-container .price-item .price-content-box ul{
    list-style: none;
}
.price .price-container .price-item .price-content-box ul li{
    padding: 10px 0;
}
/* price ends */


/* counter starts */
.hunt-counter{
    width: 100%;
    background-color: #000;
    padding: 30px 0;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    color: #eeeeee;
}
.hunt-counter .counter-holder{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.hunt-counter .counter-holder .counter-item{
    width: 18%;
    /* rotate: -5deg; */
    border: 3px solid #eeeeee;
}
/* counter ends */

/* team starts */
.team{
    width: 100%;
}
.team .team-mates{
    width: 100%;
    height: 400px;
}

.team .team-mates .team-member{
    height: 350px;
    width: 100%;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 3px 2px rgb(241, 241, 241);
}
.team .team-mates .team-member .team-mate-image{
    display: block;
    height: 350px;
    width: 100%;
    position: absolute;
}
.team .team-mates .team-member .member-description{
    width: 100%;
    height: 120px;
    background-color: #fff;
    position: absolute;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
    box-sizing: border-box;
    padding: 40px 0;
    bottom: 0;
}
.team .team-mates .team-member:hover{
    height: 400px;
}

.team .team-mates .team-member:hover .member-description{
    height: 170px;
}

.team .team-mates .team-member .member-description .team-social-icons{
    display: none;
    width: 100%;
    padding: 10px;
}

.team .team-mates .team-member .member-description .team-social-icons ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.team .team-mates .team-member .member-description .team-social-icons ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #353535;
    margin: 0px 10px;
}
.team .team-mates .team-member:hover .member-description .team-social-icons{
    display: block;
}
.team .team-mates .team-member .member-description .team-social-icons ul li:hover{
    border: 3px solid #fec600;
    background-color: #fec600;
}
/* team ends */



